{
    "plugins": [
      [
        "@emotion",
        {
          // sourceMap is on by default but source maps are dead code eliminated in production
          "sourceMap": true,
          "labelFormat": "[local]",
          "cssPropOptimization": true
        }
      ]
    ]
  }